@model HandicraftListViewModel

<div>
    <h3>Kontaktinformation</h3>
        <p>Hantverksboden</p>
        <p>Virtuellavägen 404</p>
        <p>123 45 Errorköping</p>
        <p>Mailadress : info@hantverksboden.se</p>
        <p>Telefon : 0123-456789</p>
</div>
