@model DrawingViewModel

<div class="row">
    <div class="caption-full">
        <h1>Teckningar och målningar!</h1>
    </div>
    <div class="caption">
    </div>

    @*Loop over all handicrafts and displaying them*@
    @foreach (var handicraft in Model.Drawing)
    {
        <partial name="_HandicraftCard" model="handicraft" />
    }
</div>
